<ul class="thumbnails">
    {% for file in manager.files %}
        <li class="span2">
            {% if file.isDir %}
                {% set image = asset('bundles/zenstruckmedia/images/icons/folder.png') %}
                {% set src = path('zenstruck_media_list', manager.requestParams({ 'path': manager.path ~ '/' ~ file.getFilename })) %}
            {% else %}
                {% set src = '' %}
                {% if file.isImage %}
                    {% set image = file.webPath %}
                {% else %}
                    {% set image = asset('bundles/zenstruckmedia/images/icons/file.png') %}
                {% endif %}
            {% endif %}

            <a href="{{ src }}" title="{{ file.getFilename }}" class="thumbnail">
                <span class="zenstruck-media-thumbnail-container">
                    <span>
                        <img src="{{ image }}" />
                    </span>
                </span>
                <span class="zenstruck-media-thumbnail-caption">{{ file.getFilename }}</span>
            </a>
        </li>
    {% endfor %}
</ul>