<ul>
    <li><a href="http://zenstruck.com/project/ZenstruckDashboardBundle">Documentation</a></li>
    <li><a href="https://github.com/kbond/ZenstruckDashboardBundle">Github Repository</a></li>
    <li><a href="{{ path('homepage') }}">Sandbox Home</a></li>
    <li><a href="http://zenstruck.com">Zenstruck Home</a></li>
</ul>
<p class="text-center muted"><em>(template widget type)</em></p>