{% extends '::base.html.twig' %}

{% block title %}Article list{% endblock %}

{% block grid_action_label %}
    <th>Actions</th>
{% endblock %}

{% block grid_action %}
    <td>
        <a class="btn btn-small" href="{{ path('edit_article', { 'id': object.id }) }}"><i class="icon-pencil"></i> Edit</a>
    </td>
{% endblock %}

{% block body %}
    <style type="text/css">
        th, td {
            vertical-align: middle!important;
        }
        table tfoot tr td {
            border-top-width: 3px!important;
        }
        .pagination {
            text-align: center;
        }
    </style>

    <div style="position: relative">
        <p class="text-right" style="position: absolute; top: -100px; right: 0;">
            <a class="btn btn-primary" href="{{ path('new_article') }}">Create a new entry</a>
        </p>

        {{ grid(grid, _self) }}
    </div>
{% endblock %}
