{% extends '::base.html.twig' %}

{% block title %}Article list{% endblock %}

{% block body %}
    <style type="text/css">
        th, td {
            vertical-align: middle!important;
        }
    </style>

    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{% if article.date %}{{ article.date|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <a class="btn btn-small" href="{{ path('edit_article', { 'id': article.id }) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <a class="btn btn-primary" href="{{ path('new_article') }}">Create a new entry</a>
    </p>
{% endblock %}


