{% extends '::base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <form class="form-horizontal" method="post" novalidate="novalidate" {{ form_enctype(grouped_form.form) }}>
        {% include 'AppBundle:Article:_grouped_form.html.twig' with { 'grouped_form': grouped_form } %}

        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Create</button>
            <a class="btn" href="{{ path('article') }}">Cancel</a>
        </div>
    </form>
{% endblock %}